# Virtual Environment
.venv/
venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Variables
.env

# Streamlit Secrets
.streamlit/secrets.toml

# IDE Files
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter Notebooks
.ipynb_checkpoints/

# Build Files
build/
dist/
*.egg-info/

# Pytest
.pytest_cache/
